/*CSS reset, don't mind it for now. */
*{
    margin: 5px;
    padding: 5px;
   }
   #container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
   }
   #header{
    height: 150px;
    background-color: blue;
   }
   #nav_bar{
    height: 300px;
    width: 180px;
    background-color: red; 
   }
   #main_content{
    height: 360px;
    width: 725px;
    background-color: yellow; 
   }
   .subcontent{
    height: 200px;
    width: 200px;
    background-color: purple;
   }
   #advertisements{
    height: 90px;
    width: 670px;
    background-color: pink;
   }

   .container{
    display: grid;
    grid-template-areas: 
    "one"
    "two"
    "three";
   }

   @media only screen and (min-width: 800px) {
   .container{
    display: grid;
    grid-template-areas: 
    "one one one"
    "two three three";
   }
   }
   /*@media only screen and (max-width: 800px){
   #main_content{
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: auto;
    align-items: center;
   }
}*/

   
   #header{
    grid-area: one;
   }

   #nav_bar{
    grid-area: two;
    
   }

    #main_content{
    grid-area: three;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
   }


   
